/* Category Page Styles */
.page {
    background-color: #fff;
    padding-bottom: 4rem;
}

.banner {
    background-color: var(--sanjose-blue);
    color: white;
    padding: 3rem 0;
    text-align: center;
}

.title {
    font-size: 2.5rem;
    font-weight: 900;
    text-transform: uppercase;
}

.subtitle {
    opacity: 0.8;
}

.content {
    max-width: 1200px;
    margin: 0 auto;
    padding: 2rem;
}
